<header class="header parto" id="heads">

  
    {{ $assetd := resources.Get "/logo.png" }}
    
    
  
    <script defer language="javascript" type="text/javascript"  src="/js/header.js"></script>
    <div class="parent">
    <div class="a">
    <div class="logo_section">

                   <a href="/"> <img  id = "logo" alt="mtuci logo" src="{{ $assetd.RelPermalink }}" /></a>
                   

    </div>
    
    <div class ="header_section" >


      <div onclick="location.href='/new'"class="boxer3" href="/new">
        <div class="btn btn-three">
         Новинки
        </div>
      </div>
      <div onclick="location.href='/sell'"class="boxer3" href="/sell">
        <div class="btn btn-three">
         Каталог
        </div>
      </div>
      <div onclick="location.href='/contacts'"class="boxer3" href="/contacts">
        <div class="btn btn-three">
         Контакты
        </div>
      </div>
      
      </div>
    </div>
   <div class="b"> Официальный дилер Vizio по РФ</div></div>

</header>
